<div class="row">
  <div class="col-xs-offset-1 col-xs-10">
    <%= form_for(@question_master, url:{action:'textcreate'}) do |f| %>

      <%= f.hidden_field :question_type, value: 'Text' %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <div class="form-group">
        <%= f.label :title, 'タイトル' %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :content, '内容' %>
        <%= f.text_area :content, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :deadline, '期限' %>
        <%= f.datetime_select :deadline, class: 'form-control' , :use_month_numbers => true %>
      </div>
      
      <div class="text-center">
        <%= f.submit '投稿する', class: 'btn btn-info' %>
      </div>
    <% end %>
  </div>
</div>